.login-form{
    width:60%;
    height:100%;
    padding:15%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{  
    padding:5%;
}
form span, button{
    font-size: 1.2rem;
    font-weight: 800;
}
.email, .password{
   
    margin-bottom: 5%;
}